.bg-light {
  background-color: none !important;
}
.btn-primary {
  background-color: #FF8C5F !important;
  border: none !important;
}
.btn-outline-primary {
  color: #ffffff;
  border: 2px solid #ffffff !important;
  border-radius: 10px;
  font-weight: bold;
}
.btn-outline-primary:hover{
  background-color: #ffffff;
  color: #00098A;
}
.btn-outline-secondary {
  border: 2px solid #00098A;
  border-radius: 10px;
  color: #00098A;
}
.btn-outline-secondary:hover {
  background-color: #ffffff !important;
  color: #00098A;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #00098A !important;
  background-color: #FFD43C;
}
b {
  color: #ffffff !important;
}
h2 {
  font-size: 52px !important;
}
h3 {
  font-size: 36px !important;
  color: #00098A;
  font-weight: bold;
}
h4{
  font-size: 24px;
  font-weight: bold;
}
.benefits {
  color: #000000;
  font-size: 42px !important;
  font-weight: bold;

}
.small {
  color: #333CC1;
  font-size: 1rem;
}
.rect {
  width: 19.525rem;
  height: 22.6875rem;
  background-color: #ffffff !important;
}
.trust {
  background-color: #F3F3F3;
}
.lives {
  font-size: 42px !important;
  font-weight: bold;
}
.impact {
  background-color: #333CC1;
  color: #ffffff;
}
.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.download {
  color: #00098A;
}
.store {
  color: #00098A;
  font-weight: bold;
}
.footer {
  background-color: #1F1558;
  color: #ffffff;
}
.nav-link {
  color: #ffffff;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*About Page*/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #000000;
}
.company {
  background-color: #F3F3F3;
  width: 19.525rem;
  height: 22.6875rem;
}
.backImg {
 width: 100%;
}
/*FAQ Page*/
.fa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #F3F3F3 !important;
  background: url("../src/components/img/Group\ 1401.png") no-repeat,url("../src/components/img/Group\ 1345.png") no-repeat;
  background-size: 10%,10%;
  background-position: left -5% bottom -15%,right -5%;
}
.faq {
  color: #00098A;
}
.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.question {
  color: #FF8C5F;
  border: 2px solid #FF8C5F;
}
.question:hover {
  background-color: #00098A !important;
  border: 1px solid #00098A !important;
  color: #ffffff;
}
.collapsed {
  color:#00098A !important;
}
.card-header {
  background-color: #ffffff !important;
}
.card {
  border: none;
}